.Body{
    width: 100%;
    height: 100%;
    background-image: url("./../../../public/background2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Page{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContentPage{
    width: 80%;
    height: 100%;
    padding-top: 125px;
    transition: 0.2s all;
}


@media  (max-width: 1200px){
    .Body .ContentBox .Page{
        width: 90%;
    }   
}

@media  (max-width: 700px){
    .Body .ContentBox .Page{
        width: 100%;
    }
}