.Field{
    width: 100%;
    height: 100%;
}

.Field input, .Field textarea, .Field select{
    width: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.03);
    border: 0;
    padding: 10px;
    outline: none;
    caret-color: white;
    border-bottom: 1px solid grey;
    color: white;
    transition: 0.1s all;
}

.Field input{
    height: 100%;
}

.Field textarea{
    height: 150px;
}

.Field select{
    height: 100%;
}

.Field select option{
    padding: 10px;
    border: 2px solid black;
}

.Field select option:active{
    background-color: white;
}

.Field input:focus, .Field textarea:focus, .Field select:active{
    border-bottom: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    
}

.Field input::placeholder, .Field textarea::placeholder, .Field select::placeholder{
    color: #C2C2C2;
}

.Field .LighterThemeInput{
    background-color: #FBFBFB;
    color: black;
    caret-color: black;
}

.Field .LighterThemeInput::placeholder{
    color: black;
}