.Contato *{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.Contato{
    width: 100%;
    height: 90vh;
    position: relative;
}

.CoolText{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.CoolText h1{
    font-size: 64px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.Contato .ContatoBox{
    width: 100%;
}

.Contato .ContatoBox .ContatoBoxHeader{
    width: 100%;
    height: 50px;
    margin: 0 0 50px 0;
    text-align: center;
}

.Contato .ContatoBox .ContatoBoxHeader h2{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.Contato .ContatoBox .ContatoBoxBody{
    width: 100%;
    height: 85%;
    box-sizing: border-box;
    /* background-color: white; */
    color: white;
    padding-top: 100px;
}

.FormularioBox{
    padding: 15px;
    background-color: rgb(14, 79, 158);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.FormularioBox .RowField h2{
    padding: 15px;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.RowField{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ColumnField{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
} 

.Column12{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Column6{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BtnEnviarComentario{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.RedesIcons{
    
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
   
}

.BtnEnviarComentario button {
    padding: 5px;
}

@media (max-width: 700px){
    .Contato{
        height: 150vh;
    }

    .ColumnField{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
    } 

    .Column6{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .FormularioBox{
        margin-top: 350px;
    }
}