.Login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.Login .ModalLogin{
    width: 450px;
    height: 350px;
    background-color: rgb(14, 79, 158);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Login .ModalLogin .ModalHeader{
    height:15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 5px 0.1px rgba(0, 0, 10, 0.9); */
    padding: 5px;
    
}

.Login .ModalLogin .ModalHeader .LeftArrow{
    color: white;
    cursor: pointer;
    width: 10%;
    transition: .2s all;
}

.Login .ModalLogin .ModalHeader .ModalHeaderTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.Login .ModalLogin .ModalHeader .ModalHeaderTitle img{
    height: 100%;
    content: url("../../../public/logo.png");
    margin-top: 30px;
}


.Login .ModalLogin .ModalHeader .BlankSpace{
    width: 10%;
    height: 100%;
}

.Login .ModalLogin .ModalHeader .LeftArrow:hover{
    color: #37529b;
}

.Login .ModalLogin .ModalBody{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    /* box-shadow: 0 0 5px 0.1px rgba(0, 0, 10, 0.9); */
    margin: 10px;
    padding: 5px;
}

.Login .ModalLogin .ModalBody .Field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}
.Login .ModalLogin .ModalBody .Field .LabelField{
    width: 80%;
    text-align: left;
    color: white;
    display: block;
    padding: 10px;
    font-size: 12px;
}

.Login .ModalLogin .ModalFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    height: 15%;
    /* box-shadow: 0 0 5px 0.1px rgba(0, 0, 10, 0.9); */
    border-radius: 4px;
}

.Login .ModalLogin .ModalFooter .ButtonBox{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.Login .ModalLogin .ModalFooter .ButtonBox button{
    padding: 5px;
}

@media (max-width: 700px){
    .Login .ModalLogin{
        width: 90% !important;
    }
}


